# Exclude everything
/*

# Specific includes

## Editorconfig
!.editorconfig

## Package manager
!/package.json
!/pnpm-lock.yaml

## Config files
!/*config.ts
!/*config.mjs
!/*config.cjs
!/*config.js
!/*config.json
!/*rc.json

## Next.js
!/components.json

## Biome.js
!/biome.json

## Markdowns
!*.md
!LICENSE

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## GitHub specific
!/.github/

## Sources
!/asset-src
!/public
!/src

# Explicit exceptions/ignores
