{{#each sponsors}}
	<h3>{{@key}}</h3>

	<div class="{{@key}} row wrap">
		{{#each this}}
			<div class="sponsor biggest row">
				<a href="{{link}}" target="_blank" class="column center">
					<img src="/assets/sponsors/{{image}}" />
				</a>
			</div>
		{{/each}}
	</div>
{{/each}}
