@import './variables';

.section {
	overflow: hidden;
	padding: 90px 0px;

	h2 {
		font-size: 48px;
		font-weight: 300;
		margin-top: 0px;
	}

	&.sponsors {
		background-color: #333;
		padding-bottom: 90px;

		&:after {
			content: '';
			border-style: solid;
			border-width: 0px 0px 90px 100vw;
			border-color: transparent transparent #222 transparent;
		}

		h3 {
			text-transform: uppercase;
		}

		a {
			color: $primary-normal;
			border-bottom: dashed 1px $primary-normal;
			text-decoration: none;
			transition: .3s ease;
			opacity: 0.9;

			&:hover {
				opacity: 1;
			}
		}

		.sponsor {
			box-sizing: border-box;
			padding: 0px 9px 9px 0px;

			> a {
				width: 100%;
				height: 100%;
				background-color: #fff;
				border-bottom: solid 1px #ccc;
				border-radius: 6px;
				padding: 16px;
				box-sizing: border-box;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.platinum .sponsor, .presenting .sponsor {
			width: 33%;
			height: 152px;

			> a {
				padding: 32px 16px; // edited for AWS, remove me
			}
		}

		.gold .sponsor {
			width: 25%;
			height: 128px;

			> a {
				padding: 16px 32px; // little hack to deal with palantir's svg
			}
		}

		.silver .sponsor {
		//.partners .sponsor {
			width: 20%;
			height: 108px;
		}

		.partners .sponsor {
			width: 16%;
			height: 96px;
		}

		@media screen and (max-width: $breakpoint-small) {
			.sponsor {
				width: 100% !important;
			}
		}
	}

	&.inspiration {
		background-image: url('/assets/photos/7334.jpg');
		background-size: cover;
		background-attachment: fixed;
		padding: 0px;

		> div {
			background-color: rgba($primary-dark, 0.85);
			font-size: 24px;
			font-weight: 300;
			text-align: center;
			padding: 96px 0px;

			a {
				border-bottom: dashed 1px #fff;
				color: #fff;
				text-decoration: none;
			}
		}
	}

	&.team {
		position: relative;
		font-weight: 300;
		text-align: center;
		padding: 120px 0px 0px 0px;
		margin-top: -90px;

		/* &:before {
			content: '';
			border-style: solid;
			border-width: 90px 100vw 0px 0px;
			border-color: $primary-dark transparent transparent transparent;
		} */

		> .bg {
			position: absolute;
			top: 0px;
			right: 0px;
			left: -84px;
			bottom: 0px;
			background-image: url('/assets/team-circles.png');
			background-position: center 28px;
			z-index: -1;
		}

		> .inner {
			> p {
				font-size: 22px;

				> a {
					border-bottom: dashed 1px #fff;
					color: #fff;
					text-decoration: none;
				}
			}
		}

		.team-grid {
			margin: 64px 0px;
			flex-wrap: wrap;

			a {
				display: inline-block;
				border: solid 2px #fff;
				border-radius: 100%;
				line-height: 0px;
				padding: 2px;
				margin: 6px 0px;
				transition: .5s ease;

				img {
					width: 78px;
					height: 78px;
					border-radius: 100%;
				}

				&:hover {
					transform: scale(1.05);
				}
			}
		}

		@media screen and (max-width: $breakpoint-small) {
			.team-grid .column {
				flex-direction: row;

				> a {
					margin: 0px 9px;
				}
			}

			> .bg {
				display: none;
			}
		}
	}

	&.faqs {
		background-image: url('/assets/photos/6615.jpg');
		background-position: calc(100vw - 1200px) -240px;
		background-size: auto 1400px;
		padding: 0px;

		> div {
			background-image: linear-gradient(90deg, #222 calc(100% - 900px), transparent 100%);
			overflow: hidden;
			padding: 140px 0px 96px 0px;
		}

		&:before {
			display: block;
			content: '';
			border-style: solid;
			border-width: 90px 100vw 0px 0px;
			border-color: #222 transparent transparent transparent;
			margin-bottom: -90px;
		}

		&:after {
			display: block;
			content: '';
			border-style: solid;
			border-width: 0px 0px 90px 100vw;
			border-color: transparent transparent #333 transparent;
			margin-top: -90px;
		}

		@media screen and (max-width: $breakpoint-small) {
			> div {
				background-color: rgba(#222, 0.8);
				background-image: none;
			}
		}

		.question {
			margin: 24px 0px;

			.title {
				opacity: 0.8;
				cursor: pointer;
				transition: .3s ease;
			}

			&:hover .title {
				opacity: 1;
			}

			.x {
				display: inline-block;
				width: 16px;
				height: 8px;
				box-sizing: border-box;
				transition: .5s ease;
				margin: 0px 7px 0px 0px;

				&:before, &:after {
					display: inline-block;
					position: absolute;
					content: '';
					width: 16px;
					height: 4px;
					background-color: $primary-normal;
					transition: .5s ease;
				}

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}

			&.closed {
				.x {
					padding-left: 6px;

					&:before, &:after {
						width: 4px;
						margin: 0px;
					}
				}

				.answer {
					display: none;
				}
			}

			.answer {
				position: relative;
				background-color: $primary-normal;
				color: #111;
				padding: 48px 0px;
				margin-top: 32px;

				> .container {
					&:before {
						position: absolute;
						top: -16px;
						content: '';
						border-left: solid 16px transparent;
						border-right: solid 16px transparent;
						border-bottom: solid 16px $primary-normal;
						margin-left: -8px;
					}

					a {
						color: #333;
						text-decoration: none;
						border-bottom: dashed 1px #333;
					}
				}
			}
		}
	}

	&.schedule {
		&:after {
			content: '';
			border-style: solid;
			border-width: 0px 0px 90px 100vw;
			border-color: transparent transparent #111 transparent;
		}

		.timeline {
			position: relative;

			@media screen and (min-width: $breakpoint-small) {
				&:before, .event .line:before, .event .line:after {
					content: '';
					height: 2px;
					background-color: $secondary-b;
				}

				&:before {
					position: absolute;
					top: 100px;
					right: 100%;
					left: -100vh;
				}

				.group {
					&:nth-child(even) .set {
						flex-direction: row-reverse;
					}

					.set {
						.event {
							width: 320px;
						}
					}

					.bracket {
						position: absolute;
						display: flex !important;
						width: 12px;
						height: 205px;
						border-style: solid;
						border-color: $secondary-b;
						margin-top: -107px;

						.day {
							width: 164px;
							font-weight: bold;
							text-align: center;
							color: $secondary-b;
							transform: rotate(-90deg);
							margin-left: -48px;
						}
					}

					&:nth-child(even) .bracket {
						right: -12px;
						border-width: 2px 2px 2px 0px;
						border-radius: 0px 3px 3px 0px;
					}

					&:nth-child(odd) .bracket {
						left: -12px;
						border-width: 2px 0px 2px 2px;
						border-radius: 3px 0px 0px 3px;
					}

					&:last-child .event:last-child .line:after {
						background-color: transparent;
					}
				}
			}

			.group {
				.set .event {
					position: relative;
					text-align: center;
					padding: 32px 0px;

					.inner {
						&.animated {
							animation-name: schedule-event;
							animation-duration: .5s;
							animation-iteration-count: 1;
							animation-fill-mode: forwards;
							transform: scale(0.4);
							opacity: 0;
						}

						@keyframes schedule-event {
							0% {
								transform: scale(0.4);
								opacity: 0;
							}

							100% {
								transform: scale(1);
								opacity: 1;
							}
						}

						.time {
							display: inline-block;
							background-color: $secondary-b;
							border-radius: 4px;
							line-height: 18px;
							font-size: 14px;
							font-weight: bold;
							color: #222;
							padding: 6px 9px;
							margin-bottom: 4px;
						}

						.icon {
							line-height: 20px;
							margin: 16px;

							img {
								width: auto;
								height: 32px;
								filter: invert(1);
							}
						}

						.title {
							height: 40px;
							padding: 0px 6px;
						}
					}

					.line {
						position: absolute;
						width: 100%;
						top: 100px;

						&:before, &:after {
							flex: 1;
						}

						.gap {
							width: 64px;
						}
					}
				}

				.bracket {
					display: none;
				}
			}
		}
	}
}
