@import './variables';

.header-wrap {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 76px;

	header {
		top: 0px;
		right: 0px;
		left: 0px;
		width: 100%;
		background-color: #000;
		box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
		z-index: 999;

		&.float {
			position: fixed;
		}

		.nav {
			a {
				display: inline-block;
				text-decoration: none;
				font-size: 20px;
				font-weight: 300;
				color: #fff;
				padding: 24px;
				transition: background-color .5s ease;

				&:hover {
					background-color: #333;
				}

				img {
					width: auto;
					height: 16px;
				}
			}

			/* @media screen and (max-width: 1600px) {
				.right {
					width: 100px;
				}
			} */

			@media screen and (max-width: $breakpoint-small) {
				a {
					font-size: 14px;
					padding: 24px 8px;
				}

				.social {
					display: none;
				}
			}
		}

		.underline {
			height: 3px;

			.after, .before {
				flex-grow: 1;
			}

			&, .after {
				background-color: $primary-light;
			}

			.before, .fill {
				height: 100%;
				background-color: $primary-dark;
			}
		}
	}
}

.badge {
	position: fixed;
	top: 0px;
	right: 50px;
	width: 10%;
	max-width: 100px;
	min-width: 60px;
	z-index: 9998;

	@media screen and (max-width: $breakpoint-small) {
		right: 3%;
	}
}
