$breakpoint-medium: 1280px;
$breakpoint-small: 1080px;
$breakpoint-extra-small: 920px;

$primary-light: #dab8e9;
$primary-normal: #FFB9D2;
$primary-dark: #620090;
$secondary-a: #A4E0E1;
$secondary-b: #D7BFE7;
