<html lang="en-GB">
<head>
<meta charset="utf-8">
</head>
<body>
<p>Hi {{preferredNames}},</p>
<br/>
<p>I hope you had an amazing time at DurHack X! Thank you for joining us over the weekend. </p>
<p>
Photos from the event are currently being processed by our photographer, and will be sent across as soon as they are ready!
</p>
<p>If you are interested in joining the organising team for DurHack 11, please register 
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeOG1PTbqGNT6Edboqfh6p4gd4qG_-blfZTsVEg-O7eN19sAQ/viewform">here</a>!</p>
<p>If you have any feedback about the event, please fill in <a href="https://forms.gle/nBT7ji27hrAmCgde6">this form</a>.</p>
<br/>
<p>If you joined us from another city, and would like to apply for travel reimbursement, please do so
   <a href="https://forms.gle/Hz9nctemyBTXd6GV6">here.</a></p>
<p>We look forward to seeing you next year!</p>
<p>Happy Hacking,</p>
<p>The DurHack Team 💜</p>
</body>
</html>
