<html lang="en-GB">
<head>
  <meta charset="utf-8">
</head>
<body>
<p>Hi {{preferredNames}},</p>
<p>We hope you’re buzzing with excitement for DurHack!</p>
<p>
  
  A quick reminder to submit your CV! This can be submitted via your dashboard at 
  <a href="https://durhack.com/dashboard">durhack.com/dashboard</a>. 
  These are shared with our sponsors, many of whom are actively recruiting interns and graduates. 
  Plus, you’ll earn some extra DurHack stash - consider it a small reward for planting early seeds of opportunity!
</p>
<p>
  Keep an eye on your inbox - more details on the weekend will be dropping soon! 
  In the meantime, take a moment to explore our Medium articles on 
  <a href="https://medium.com/@DurHack_press/how-to-prepare-for-a-hackathon-7a0914dbdeb0">how to prepare for a hackathon</a>
  and <a href="">how to prepare a hardware hack</a>.
</p>
<p>
  If you’re based in Durham, join us at 6pm in the TLC for our GitHub and Web Dev Workshops! 
  They’re completely beginner friendly and the perfect place to grow new skills before the event. 
  Check out more information <a href="https://www.instagram.com/p/DQRP8A7jPF9/">on our Instagram</a>
</p>
<p>
  As always, if you have any questions, you can get in touch with us at
  <a href="mailto:hello@durhack.com">hello@durhack.com</a>.
  If you can no longer attend, don’t worry at all - you don’t need to message us to let us know.
</p>
<br/>
<p>Happy Hacking,</p>
<p>The DurHack Team</p>
</body>
</html>
