<html lang="en-GB">
<head>
  <meta charset="utf-8">
</head>
<body>
<p>Hey {{preferredNames}},</p>
<br/>
<p>We are now accepting attendees from the waitlist!</p>
<p>If you're in Durham, pop along to the TLC and we'll get you signed in. 😎</p>
<br/>
<p>Thanks,</p>
<p>The DurHack Team</p>
</body>
</html>
