# email templates (mostly for src/mailer/main)
!templates
templates/*

!templates/*.hbs
!templates/*.meta.ts

# preset Prisma queries (mostly for src/mailer/main)
!queries
queries/*
!queries/user-info
queries/user-info/*
!queries/**/*.ts
