@import './variables';

.artifact {
    position: absolute;
    z-index: -10;
    width: auto;
    height: auto;
    pointer-events: none;

    &.intro-diamond {
        min-width: 40vw;
        margin-top: -128px;
    }

    &.intro-cross {
        height: 30vh;
        right: 48px;

        @media screen and (max-width: $old-breakpoint-small) {
            margin-top: 760px;
        }
    }

    &.schedule-circle {
        margin-top: -1200px;
        left: -500px;
    }
}
