@import "./variables";

$background-gradient-indigo: #392b5e;
$background-gradient-blue: #3ca2bc;
$background-gradient-solid-pink: #aa6980;
$background-gradient-pink: #FDE7E0;
$background-gradient-cyan: #426676;
$background-gradient-light-blue: #1f80a1;
$background-gradient-black: #{$primary-dark};
$background-gradient-deep-blue: #131c6a;

.section {
    &.intro {
        background: linear-gradient(
            to bottom,
            #{$background-gradient-pink},
            #{$background-gradient-cyan}
        );
    }

    &.cta-map {
        background: linear-gradient(
            to bottom,
            #{$background-gradient-cyan},
            #{$background-gradient-black} 60%
        );
    }

    &.faqs {
        background: linear-gradient(
            to bottom,
            #{$background-gradient-black},
            #{$background-gradient-deep-blue},
            #{$background-gradient-black}
        );
    }

    &.megateams {
        background: linear-gradient(
            to bottom,
            #{$background-gradient-black} 30%,
            #{$background-gradient-light-blue} 100%
        );
    }
}
