@import "./variables";

$background-gradient-indigo: #392b5e;
$background-gradient-blue: #3ca2bc;
$background-gradient-solid-pink: #aa6980;
$background-gradient-pink: #FDE7E0;
$background-gradient-cyan: #426676;
$background-gradient-light-blue: #1f80a1;
$background-gradient-black: #{$primary-dark};
$background-gradient-deep-blue: #131c6a;
$bg-g-b-t: rgba(17, 17, 17, 1);
$bg-g-dp-t: rgba(19, 28, 106, 0.6);

.section {
    &.intro {
        background: linear-gradient(
            to bottom,
            #{$background-gradient-pink} 15%,
            #{$background-gradient-cyan} 40%,
            #{$background-gradient-black} 80%
        );
    }

    &.cta-map {
        background: #{$background-gradient-black}
    }

    &.faqs {
        background-image: linear-gradient(
            to bottom,
            #{$bg-g-b-t},
            #{$bg-g-dp-t},
            #{$bg-g-b-t}
        ), url("/assets/photos/faq-bg.jpeg");
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    &.sponsors {
        background: linear-gradient(
            to bottom,
            #{$background-gradient-black},
            #{$background-gradient-deep-blue},
            #{$background-gradient-black}
        );
    }

    &.megateams {
        background: #{$background-gradient-black}
    }

    &.team {
        background: url('/assets/graphics/bottom-stars.svg'), linear-gradient(
            to bottom,
            #{$background-gradient-black} 30%,
            #{$background-gradient-light-blue} 100%
        );
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    &.footer {
        background-image:
        linear-gradient(
            to bottom,
            #{$background-gradient-light-blue} 30%,
            #{$background-gradient-light-blue} 100%
        );
    }
}
