@import './variables';

.section {
    overflow: hidden;

    .main {
        padding: 4rem 64px;

        @media screen and (max-width: $old-breakpoint-medium) {
            padding: 2rem 16px;
        }
    }

    h2 {
        font-size: 48px;
        font-weight: 300;
        margin-top: 0px;
    }

    .button-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button, a.link-button {
        border-radius: 4.88775rem;
        border-width: 0;
        background: rgba(217, 217, 217, 0.30);
        backdrop-filter: blur(3px);
        color: #FFF;
        font-family: Space Grotesk, sans-serif;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
        padding: 1.25rem 5rem;
        z-index: 12;
        text-align: center;

        @include breakpoint-down('md') {
            font-size: 1.25rem;
        }

        transition: scale .15s ease-in-out;
        &:hover {
            scale: 1.05;
            border-bottom-style: none;
        }
    }

    &.faqs {
        overflow: unset;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 64px;

        .questions {
            list-style-type: none;
            margin: 0 0 1.2rem 0;

            li {
                padding: 5px 0;
            }
        }

        > .main img {
            height: 26px;
            width: 20px;
            padding: 20px 20px 0px 10px;
        }

        .title {
            display: flex;
            cursor: pointer;
            font-size: 20px;
            margin-top: 16px;
            margin-bottom: -1rem;

            span {
                flex: 1;
                padding: 20px 0px 0px 0px;
            }
        }

        .answer {
            margin-left: 5rem;
            padding-top: 18px;
            animation: show .75s ease-in;
            font-size: 16px;

            &.fade-out {
                animation: hide .75s ease-out;
            }
        }

        @keyframes show {
            0% {
                opacity: 0;
                max-height: 0;
            }

            100% {
                opacity: 1;
                max-height: 1000px;
            }
        }

        @keyframes hide {
            0% {
                opacity: 1;
                max-height: 1000px;
            }

            100% {
                opacity: 0;
                max-height: 0;
            }
        }

        .closed {
            >.answer {
                display: none;
            }
        }
    }

    &.schedule {
        h1 {
            margin-top: 32px;
        }

        //text-align: center;
        p {
            text-align: left;
        }
    }
}
