@import './variables';

.section {
    overflow: hidden;
    padding: 90px 0px;

    h2 {
        font-size: 48px;
        font-weight: 300;
        margin-top: 0px;
    }

    &.faqs {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.8)), url('/assets/photos/group_around_desk_monitor.jpg');
        background-size: auto $breakpoint-medium;

        @media (min-width: $breakpoint-medium) {
            background-size: 100% auto;
        }

        background-repeat: no-repeat;

        padding: 0;

        ul {
            list-style-type: none;
        }

        .title {
            cursor: pointer;

            &:before {
                content: '';
                display: inline-block;
                height: 3rem;
                width: 3rem;
                margin-bottom: -1rem;
                margin-right: 1rem;
                background-image: url("/assets/graphics/bullet.svg");
                background-repeat: no-repeat;
            }

            // todo: title wrapping inline with pseudo before element on small breakpoints
        }

        .answer {
            margin-left: 4rem;

            animation: show .75s ease-in;

            &.fade-out {
                animation: hide .75s ease-out;
            }
        }

        @keyframes show {
            0% {
                opacity: 0;
                max-height: 0;
            }

            100% {
                opacity: 1;
                max-height: 1000px;
            }
        }

        @keyframes hide {
            0% {
                opacity: 1;
                max-height: 1000px;
            }

            100% {
                opacity: 0;
                max-height: 0;
            }
        }

        .closed {
            >.answer {
                display: none;
            }
        }

        >.faq-cap {
            width: auto;
            height: 4rem;
            background-image: url("/assets/graphics/circle.svg");
            background-repeat: repeat-y;
            background-size: 20px;
            background-position-x: 3.2rem;

            &.top {
                background-position-y: bottom;
            }

            &.bottom {
                background-position-y: top;
            }
        }
    }

    &.sponsors {
        display: flex;
        background-color: $primary-dark;
        // padding-bottom: 90px;

        // &:after {
        //     content: '';
        //     border-style: solid;
        //     border-width: 0px 0px 90px 100vw;
        //     border-color: transparent transparent #222 transparent;
        // }
        .SponsorText {
            // height: 10px;
            width: 70px;
            z-index: 2;

            h1 {
                padding-top: 100%;
                text-transform: uppercase;
                transform: rotate(-90deg) translate(-112px, -38px);
                font-size: 30px;
            }
        }

        .Sponsors {
            .sponsor {
                box-sizing: border-box;
                padding: 0px 9px 9px 0px;

                >a {
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    border-bottom: solid 1px #ccc;
                    border-radius: 6px;
                    padding: 16px;
                    box-sizing: border-box;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            // .platinum .sponsor, .presenting .sponsor {
            //     width: 33%;
            //     height: 152px;

            //     > a {
            //         padding: 32px 16px; // edited for AWS, remove me
            //     }
            // }

            .gold .sponsor {
                width: 40%;
                height: 150px;

                // > a {
                // 	padding: 16px 32px; // little hack to deal with palantir's svg
                // }
            }

            // .silver .sponsor {
            .partners .sponsor {
                width: 25%;
                height: 108px;
            }

            // .partners .sponsor {
            //     width: 16%;
            //     height: 96px;
            // }

            @media screen and (max-width: $breakpoint-small) {
                .sponsor {
                    width: 100% !important;
                }
            }
        }
    }

    &.inspiration {
        background-image: url('/assets/photos/7334.jpg');
        background-size: cover;
        background-attachment: fixed;
        padding: 0px;

        >div {
            background-color: rgba($primary-dark, 0.85);
            font-size: 24px;
            font-weight: 300;
            text-align: center;
            padding: 96px 0px;

            a {
                border-bottom: dashed 1px #fff;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    &.team {
        position: relative;
        font-weight: 300;
        text-align: center;
        padding: 0px 0px 60px 0px;
        margin-top: 30px;

        // &:before {
        // 	content: '';
        // 	// border-style: solid;
        // 	// border-width: 90px 100vw 0px 0px;
        // 	// border-color: $primary-dark transparent transparent transparent;
        //     // width: 0;
        //     // height: 0;
        //     // border-left: 40px solid transparent;
        //     // border-right: 40px solid transparent;
        //     // border-top: 40px solid #f00;

        //     width: 100px;
        //     height: 100px;
        //     background: red;
        // }

        >.bg {
            position: absolute;
            top: 10px;
            right: 0px;
            left: -84px;
            bottom: 0px;
            background-image: url('/assets/diamond_tile.svg');
            // background-position: left -22px top 0px;
            background-position: calc(50% - -42px) 0%;
            z-index: -1;
        }

        >.inner {
            >p {
                font-size: 22px;

                >a {
                    border-bottom-color: white;
                    color: white;
                }
            }
        }

        .team-grid {
            margin: 64x;
            margin-top: 10px;
            margin-bottom: 64px;
            border-bottom: 30px;
            flex-wrap: wrap;
            align-items: stretch;

            a {
                display: inline-grid;
                // border: solid 2px #fff;
                // border-radius: 100%;
                // line-height: 0px;
                justify-content: center;
                align-content: center;
                padding: 30px;
                transform: rotate(45deg) scale(1.20);
                margin: 41px -4px;
                transition: .5s ease;
                overflow: hidden;
                width: 50px;
                height: 50px;


                img {
                    width: 160px;
                    height: 160px;

                    // border-radius: 100%;
                    transform: rotate(-45deg);
                }

                &:hover {
                    transform: scale(1.3) rotate(45deg);
                    // border: solid 5px $primary-normal;
                    outline: $primary-normal solid 5px;
                    z-index: 1;
                    transition: outline-width .15s ease-in-out;
                }
            }
        }

        @media (min-width: 920px) and (max-width: 1325px) {
            >.bg {
                display: block;
                background-position: calc(50% - -42px) 50%;
                background-size: 166px 166px;
                // background-size: auto 170px;
                top: 9px;


            }

            .team-grid {
                a {
                    transition: .0s ease;
                    width: 30px;
                    height: 30px;
                    margin: 40px -3.5px;


                    img {
                        width: 130px;
                        height: 130px;
                    }
                }
            }
        }

        @media screen and (max-width: 920px) {
            .team-grid .column {
                flex-direction: row;
                border-bottom: 30px;

                >a {
                    margin: -6.2px 47px;
                }
            }

            .team-grid {
                margin-top: 55px;
                margin-bottom: 100px;
            }

            // > .bg {
            // 	display: none;
            // }
        }
    }

    &.schedule {

        //text-align: center;
        p {
            text-align: left;
        }

        .timeline {


            position: relative;
            top: -50px;
            left: 5vw;
            width: min(80vw, 2000px);

            @media screen and (min-width: $breakpoint-small) {

                &:before,
                .event .line:before,
                .event .line:after {
                    content: '';
                    height: 2px;
                    background-color: $primary-normal;
                }

                &:before {
                    position: absolute;
                    top: 100px;
                    right: 100%;
                    left: -1vh;
                }

                .group {
                    &:nth-child(even) .set {
                        flex-direction: row-reverse;
                    }

                    .set {
                        .event {
                            width: 320px;
                        }
                    }

                    .bracket {
                        position: absolute;
                        display: flex !important;
                        width: 12px;
                        height: 203px;
                        border-style: solid;
                        border-color: $primary-normal;
                        margin-top: -105px;

                        .day {
                            width: 164px;
                            font-weight: bold;
                            text-align: center;
                            color: $primary-normal;
                            transform: rotate(-90deg);
                            margin-left: -48px;
                        }
                    }

                    &:nth-child(even) .bracket {
                        right: -12px;
                        border-width: 2px 2px 2px 0px;
                        border-radius: 0px 3px 3px 0px;
                    }

                    &:nth-child(odd) .bracket {
                        left: -12px;
                        border-width: 2px 0px 2px 2px;
                        border-radius: 3px 0px 0px 3px;
                    }

                    &:last-child .event:last-child .line:after {
                        background-color: transparent;
                    }
                }
            }

            .group {
                .set .event {
                    position: relative;
                    text-align: center;
                    padding: 32px 0px;

                    .inner {
                        &.animated {
                            animation-name: schedule-event;
                            animation-duration: .5s;
                            animation-iteration-count: 1;
                            animation-fill-mode: forwards;
                            transform: scale(0.4);
                            opacity: 0;
                        }

                        @keyframes schedule-event {
                            0% {
                                transform: scale(0.4);
                                opacity: 0;
                            }

                            100% {
                                transform: scale(1);
                                opacity: 1;
                            }
                        }

                        .time {
                            display: inline-block;
                            border: solid 2px $primary-normal;
                            line-height: 18px;
                            font-size: 14px;
                            font-weight: bold;
                            color: $primary-normal;
                            padding: 4px 9px;
                            margin-bottom: 4px;
                        }

                        .icon {
                            line-height: 20px;
                            margin: 16px;

                            img {
                                width: auto;
                                height: 32px;
                                filter: invert(1);
                            }
                        }

                        .title {
                            height: 40px;
                            padding: 0px 6px;
                        }
                    }

                    .line {
                        position: absolute;
                        width: 100%;
                        top: 100px;

                        &:before,
                        &:after {
                            flex: 1;
                        }

                        .gap {
                            width: 64px;
                        }
                    }
                }

                .bracket {
                    display: none;
                }
            }
        }
    }
}
