@import './variables';

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.center, .align-center {
	align-items: center;
}

.center {
	justify-content: center;
}

.wrap {
	flex-wrap: wrap;
}

.flex {
	flex: 1;
}

@media screen and (max-width: $breakpoint-extra-small) {
	.row:not(.nav):not(.underline) {
		flex-direction: column;
	}
}
