@import './variables';

footer {
	text-align: left;
    position: relative;
    padding: 48px calc(82px + 32px);

    @media screen and (max-width: $old-breakpoint-medium) {
        padding: 48px 32px;
    }

	.legal {
        font-size: 14px;
        padding-right: 32px;


        a {
            border-bottom-color: white;
            color: white;
        }

        .bigger {
            font-size: 18px;
        }
    }

	.photo img {
		width: 100px;
		height: auto;
	}
}
