@import './variables';

.badge {
	position: fixed;
	top: 0px;
	right: 50px;
	width: 10%;
	max-width: 100px;
	min-width: 60px;
	z-index: 9998;

	@media screen and (max-width: $breakpoint-small) {
		right: 3%;
	}
}
