@import './variables';

.section.intro {
    clear: left;

    .main {
        padding: 128px 82px;

        @media screen and (max-width: $breakpoint-medium) {
            padding: 128px 32px;
        }
    }

    h2 {
        font-weight: normal;
        text-align: center;
        font-size: xx-large;
    }

    b {
        @extend .emphasis;
    }

    .emphasis {
        color: $secondary-a;
    }

    ul {
        padding-left: 0;
    }

    li {
        list-style-type: none;
        padding-bottom: 1.5rem;

        img {
            @extend .primary-normal-svg-filter;
            height: 1.5rem;
            vertical-align: middle;
            padding-right: 0.5rem
        }
    }

    .flex-item {
        flex: 50%;
        padding-bottom: 0;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 3rem;
    }

    @media (min-width: $lucas-extra-small) {
        // Mobile first development 🥰
        .flex-item {
            padding: 2rem 2rem 0;
        }

        .flex-container {
            flex-direction: row;
            text-align: left;
        }
    }
}
