@import './variables';

.section.intro {
    clear: left;
    overflow: visible;
    z-index: 4;
    position: relative;

    .main {
        font-family: 'Space Grotesk', sans-serif;
        position: relative;
        overflow-x: visible;
        overflow-y: visible;

        @media screen and (max-width: $old-breakpoint-medium) {
            padding: 64px 32px;
        }
    }

    h2 {
        position: relative;
        font-weight: normal;
        text-align: center;
        font-size: xx-large;
        padding: 75px 0px;
        z-index: 5;

        @media screen and (max-width: $old-breakpoint-extra-small) {
            padding: 50px 0px;
        }
    }

    b {
        @extend .emphasis;
    }

    .emphasis {
        color: $secondary-a;
    }

    ul {
        padding-left: 0;
    }

    li {
        list-style-type: none;
        padding-bottom: 1.5rem;

        img {
            @extend .primary-normal-svg-filter;
            height: 1.5rem;
            vertical-align: middle;
            padding-right: 0.5rem
        }
    }

    .flex-item {
        flex: 50%;
        padding-bottom: 0;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 3rem;
    }

    #about {
        background-color: #1a6ba1;
        background-image: linear-gradient(180deg, #1A5781, #148ED5);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        text-align: center;
        font-weight: 400;
        font-size: 1.875rem;
        position: relative;
        z-index: 5;

        @media screen and (max-width: $old-breakpoint-extra-small) {
            font-size: 1.25rem;
        }
    }

    #intro-section {
        position: relative;
        padding: 20px 120px 128px;
    }

    #orion {
        width: 246.372px;
        height: 40vh;
        transform: rotate(30deg);
        flex-shrink: 0;
        position: absolute;
        left: -45px;
        bottom: 60%;
    }

    #orion2 {
        @extend #orion;
        filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.05));
    }

    #cygnus {
        width: 370px;
        height: 50vh;
        flex-shrink: 0;
        position: absolute;
        right: -120px;
        bottom: 72%;
    }

    #cygnus2 {
        @extend #cygnus;
        filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.1));
    }

    #lyra {
        width: 245.136px;
        height: 40vh;
        flex-shrink: 0;
        position: absolute;
        left: -120px;
        bottom: 5%;
    }

    #lyra2 {
        @extend #lyra;
        filter: blur(15px);
    }

    #pegasus {
        width: 366.762px;
        height: 35vh;
        flex-shrink: 0;
        position: absolute;
        right: -120px;
        bottom: 20%;
    }

    #pegasus2 {
        @extend #pegasus;
        filter: blur(15px);
    }

    h4 {
        font-family: Audiowide;
        padding: 1rem 0;

        @media screen and (max-width: $old-breakpoint-extra-small) {
            padding: 0;
        }
    }

    @media (min-width: $lucas-extra-small) {
        // Mobile first development 🥰
        .flex-item {
            padding: 2rem 2rem 0;
        }

        .flex-container {
            flex-direction: row;
            text-align: left;
        }
    }
}
