@import './variables';

.section.intro {
    clear: left;

    h2 {
        font-weight: normal;
        text-align: center;
        font-size: xx-large;
    }

    b {
        @extend .emphasis;
    }

    .emphasis {
        color: $secondary-a;
    }

    ul {
        padding-left: 0;
    }

    li {
        list-style-type: none;
        padding-bottom: 1.5rem;

        img {
            @extend .primary-normal-svg-filter;
            height: 1.5rem;
            vertical-align: middle;
            padding-right: 0.5rem
        }
    }

    .image {
        display: flex;
        flex-direction: column;

        .file-crop {
            width: 100%;
            height: auto;
            mask-image: url('/assets/graphics/file_like_crop.svg');
            mask-repeat: no-repeat;
        }

        .img-file-under-tic {
            width: 100%;
            height: auto;
            margin-top: -6.5%;

            @media (min-width: $lucas-extra-small) {
                margin-left: 0;
            }
        }
    }

    .flex-item {
        flex: 50%;
        padding-bottom: 0;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    @media (min-width: $lucas-extra-small) {
        // Mobile first development 🥰
        .flex-item {
            padding: 2rem 2rem 0;
        }

        .flex-container {
            flex-direction: row;
            text-align: left;
        }
    }
}
