.section.cta-map {
    text-align: left;

    a:not(.tooltip) {
        border-bottom: none;
    }

    .main {
        padding: 0px calc(82px + 32px);

        @media screen and (max-width: $old-breakpoint-medium) {
            padding: 128px 32px;
        }
    }

    p {
        font-size: 32px;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .flex-item{
        flex: 50%;
    }

    #cta {
        margin: auto 32px;

        @include breakpoint-down('lg') {
            padding: 64px 32px;
        }

        h2 {
            font-size: 38px;
            margin-bottom: 64px;

            @include breakpoint-down('xs') {
                font-size: 2rem;
            }

            @media screen and (max-width: 450px) {
                font-size: 1.5rem;
            }
        }

        .button-div {
            justify-content: left;
            width: max-content;

            @include breakpoint-down('xs') {
                width: auto;
            }

            button {
                @include breakpoint-down('xs') {
                    padding: 1.25rem 3rem;
                }

                @media screen and (max-width: 450px) {
                    font-size: 1rem;
                }
            }
        }
    }

    #mapbody {
        position: relative;
        width: 80%;
        text-align: left;
        align-self: center;
    }

    $rad1: 50vw;
    $thick1: 2px;

    $rad2: 70%; // percentage of rad1
    $s-angle: -150deg;
    $orange-planet-angle: -20deg;
    $blue-planet-angle: 70deg;

    #hoop1 {
        position: relative;
        width: $rad1;
        aspect-ratio: 1;
        margin: 0 -50vw 0 64px;
    }

    #hoop1::before {
            position: absolute;

            content: "";
            inset: 0;
            border: $thick1 solid transparent;
            border-radius: 50%;

            // https://dev.to/afif/border-with-gradient-and-radius-387f - This is some wacky stuff
            background: linear-gradient($s-angle, #5cdbfb, #8467A070, #FFDDDD38, #fd825c) border-box; /*3*/
            mask: /*4*/
               linear-gradient(#fff 0 0) padding-box, 
               linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor; /*5'*/
                    mask-composite: exclude; /*5*/
    }

    #hoop2::before {
        position: absolute;

        width: $rad2;
        aspect-ratio: 1;
        top: calc((100% - $rad2 - 2*$thick1) / 2);
        left: calc((100% - $rad2 - 2*$thick1) / 2);
    
        content: "";
        border: $thick1 solid transparent;
        border-radius: 50%;
        background: linear-gradient($s-angle, #5cdbfb, #8467A070, #FFDDDD38, #fd825c) border-box; /*3*/
        mask: /*4*/
            linear-gradient(#fff 0 0) padding-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor; /*5'*/
                mask-composite: exclude; /*5*/
    }

    #o-planet {
        position: relative;
        width: 100%;
        aspect-ratio: 1;
        background-color: transparent;
        transform: rotate($orange-planet-angle);
    }

    #o-planet::before {
        background-image: url("./assets/graphics/map/orange-planet.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        position: absolute;
        content: "";

        width: 10%;
        aspect-ratio: 1;
        top: 50%;
        left: -4%;
    }

    #b-planet {
        position: relative;
        width: 100%;
        aspect-ratio: 1;
        background-color: transparent;
        transform: rotate(calc($blue-planet-angle - $orange-planet-angle));
    }

    #b-planet::before {
        background-image: url("./assets/graphics/map/blue-planet.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        position: absolute;
        content: "";

        width: 7%;
        aspect-ratio: 1;
        top: 50%;
        left: calc(((100% - $rad2 - 2*$thick1) / 2) - 3%);
        z-index: 5;
    }

    a > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 5;
        border-radius: 50%;
        width: 50%;
        box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 1);
        transition: all 0.5s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 1);
            transition: all 0.5s ease-in-out;
        }
    }

    @include breakpoint-down('md') {
        .flex-container {
            display: block;
        }
        #hoop1 {
            margin: 50px auto 0;
            width: 80%;
        }
        #mapbody {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}