@import './variables';
@import './breakpoints';

.section.megateams {
    .main {
        .text-center > p {
            margin: -30px 0px;
        }

        p {
            font-family: 'Space Grotesk', sans-serif;
            padding: 0 5rem;

            @include breakpoint-down('xs') {
                font-size: 0.9rem;
            }
        }

        b {
            color: $secondary-a;
        }

        .fade-enter-active, .fade-leave-active {
            transition: opacity 0.5s ease;
        }
        .fade-enter-from, .fade-leave-to {
            opacity: 0;
        }

        h1 {
            @include breakpoint-down('xs') {
                font-size: 1.4rem;
            }
        }

        ul {
            transition: 0.5s all;
            display: flex;
            flex-wrap: column wrap;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            padding: 50px 50px;

            li {
                padding: 10px;
                margin: 0 auto;
                text-align: center;

                object {
                    width: 80%;
                    transition: all 0.5s;
                }

                object:hover {
                    width: 85%;
                    transition: all 0.5s;
                }
            }

            @include breakpoint-down('xs') {
                display: grid;
                grid-template-columns: auto auto;
            }
        }

        button {
            font-family: 'Jockey One';
        }

        #world {
            height: 800px;
        }
    }
}