@import './variables';

.mask {
	display: none;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.8);
	align-content: center;
	justify-content: center;
	flex-direction: column;
	z-index: 9999;

	&.visible {
		display: flex;
	}

	> div {
		width: 100%;

		> div {
			width: 100%;
			max-width: 1000px;
			background-color: #fff;
			box-sizing: border-box;
			color: #000;
			padding: 32px;
			margin: 0px auto;

			@media screen and (max-width: $breakpoint-small) {
				width: 100vw;
				height: 100vh;
				overflow-y: auto;
			}

			.head {
				padding: 0px 32px;
				margin-bottom: 48px;

				h2 {
					font-size: 32px;
					color: $primary-dark;
				}

				.close {
					text-decoration: none;
					font-size: 32px;
					float: right;
				}
			}

			.thirds {
				font-size: 20px;

				> div {
					width: 100%;
					padding: 32px;
					box-sizing: border-box;
				}

				span {
					display: block;
				}

				.status {
					color: #999;
					padding-top: 18px;
				}

				@media screen and (max-width: $breakpoint-small) {
					> div {
						padding: 0px 32px;
					}

					span {
						display: inline;
					}
				}
			}

			.button {
				display: inline-block;
				border: solid 2px $primary-dark;
				border-radius: 100px;
				font-size: 24px;
				font-weight: bold;
				text-decoration: none;
				color: $primary-dark;
				padding: 16px 32px;
				margin: 32px 0px;
				transition: .5s ease;

				&:hover {
					background-color: $primary-dark;
					color: #fff;
				}

				@media screen and (max-width: $breakpoint-medium) {
					padding: 12px 32px;
				}

				@media screen and (max-width: $breakpoint-small) {
					margin-top: 6px;
				}

				&.disabled {
					opacity: 0.5;
					pointer-events: none;
				}
			}
		}
	}
}
