@media only screen and (max-width: $breakpoint-extra-small) {
    #navbar, #navstripe, #navouter, #navcorner, #navleft, #navright {
        visibility: hidden
    }
}

#navbar {
    //overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(90deg, #52216B 0%, $primary-normal 90%);
    border: none;

    a {
        display: block;
        border: none;
        color: #ffffff;
        text-align: center;
        padding: 18px 22px;
        text-decoration: none;
        font-size: 16px;
        //transform: skewX(45deg);
    }

    //background-image: linear-gradient(to bottom right, $primary-normal, $tertiary);
    position: sticky;
    top: 0;
    margin-top: calc(-1 * ($navheight - $navstripe));
    margin-left: 30px;
    z-index: 9;
    width: $navwidth;
    height: $navheight;
    //transform: skewX(-45deg);
    overflow: hidden;

}

#navstripe {
    position: sticky;
    background: $primary-normal; //
    width: calc(100% - 45px);
    height: $navstripe;
    margin-left: 45px;
    margin-top: calc(-1 * $navstripe);
    top: 0; //5vh;
    z-index: 8;
}

#navouter {
    position: sticky;
    background: $primary-normal; //
    width: 120px;
    height: $navheight;
    margin-left: $navwidth;
    margin-top: calc(-1 * $navheight);
    top: calc(-1 * $navheight);
    z-index: 8;
    transform: skewX(45deg);
}

#navleft {
    position: sticky;
    background: #52216B;
    width: 30px;
    height: $navheight;
    // margin-left: -40px;
    margin-top: calc($navheight * -1.25);
    top: -15px;
    z-index: 9;
    transform: skewY(45deg);
}

#navright {
    position: sticky;
    background: $primary-normal;
    width: 60px;
    height: $navheight;
    margin-left: $navwidth;
    margin-top: calc(-1 * ($navheight - $navstripe - 3px));
    top: 0;
    z-index: 10;
    transform: skewX(-45deg);
}

#navcorner {
    position: absolute;
    background-color: $primary-dark;
    bottom: 0px;
    left: 0px;
    width: $navheight;
    height: $navheight;
}

#navtrustbadge {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 180px;
    min-width: 60px;
    background-image: url('/assets/graphics/trustwrapper.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: calc(100vw - 50px - 104px) 3px;
    z-index: 9999;
    pointer-events: none;
    margin-bottom: -180px;

    @media screen and (max-width: $breakpoint-small) {
        display: none;
    }
}
