@import './variables';
@import './breakpoints';

#mlh-trust-badge {
    display: block;
}

@media only screen and (max-width: $old-breakpoint-extra-small) {
    #navbar, #navstripe, #navouter, #navcorner, #navleft, #navdiagonal, #navbrand, #mainbluestripe, #smallbluestripe, #diagonalbluestripe {
        visibility: hidden;
    }

    #mlh-trust-badge {
        display: none;
    }
}

#topbar {
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: "Audiowide", sans-serif;
}

#navbar {
    // overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: none;

    a {
        display: block;
        border: none;
        color: #ffffff;
        text-align: center;
        padding: 18px 2vw;
        text-decoration: none;
        font-size: 19px;
        font-weight: 400;
        //transform: skewX(45deg);
    }

    margin-left: $longnavbrandwidth;
    width: $navwidth;

    @include breakpoint-down(lg) {
        margin-left: $shortnavbrandwidth;
        width: $longnavwidth;
    }

    //background-image: linear-gradient(to bottom right, $primary-normal, $tertiary);
    position: relative;
    top: 0;
    margin-top: calc(-1 * ($navheight - $navstripe));
    z-index: 9;

    height: $navheight;
    //transform: skewX(-45deg);
    overflow: hidden;

    @media screen and (max-width: $old-breakpoint-extra-small) {
        // Navbar is hidden rather than display: none; and for some reason this works
        width: 10%;
    }

}

#navstripe {
    position: relative;
    background: $navbackground fixed;
    width: 100%;
    height: $navstripe;
    margin-top: calc(-1 * $navstripe);
    top: 0; //5vh;
    z-index: 8;
}

#navbrand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @include breakpoint-down(tv) {
        justify-content: start;
    }

    img {
        padding-left: 10px;
        height: 80%;
        width: auto;
        display: inline-block;
        filter: brightness(250%) contrast(60%);
    }

    span {
        padding-left: 10px;
        font-size: 36px;
        display: inline-block;
        @include breakpoint-down(lg) {
            display: none;
        }
    }

    width: calc($longnavbrandwidth - $navbrandheight);

    @include breakpoint-down(lg) {
        width: calc($shortnavbrandwidth - $navbrandheight)
    }

    position: relative;
    background: $navbackground fixed no-repeat;
    background-position-y: $navheight;

    height: $navbrandheight;
    margin-left: 0;
    margin-top: calc(-1 * ($navstripe));
    top: 0;
    z-index: 8;
}

#navdiagonal {
    margin-left: calc($longnavbrandwidth - $navbrandheight);

    @include breakpoint-down(lg) {
        margin-left: calc($shortnavbrandwidth - $navbrandheight);
    }

    position: relative;
    background: $navbackground fixed;
    width: $navbrandheight;
    height: calc($navbrandheight - $navheight);
    margin-top: calc(-1 * ($navbrandheight - $navheight));
    top: 0;
    z-index: 7;
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%)
}

#navbarline {
    position: absolute;
    background: $navbackground fixed;
    width: $navbrandheight;
    height: calc($navbrandheight - $navheight);
    margin-top: calc(-1 * ($navbrandheight - $navheight));
    top: 0;
    z-index: 7;
}

#mainbluestripe {
    position: absolute;
    background: $blue-nav-bg fixed;
    width: calc(100% - $longnavbrandwidth);
    height: $blue-rect-width;
    top: $navstripe;
    right: 0;
    z-index: 9;

    @include breakpoint-down('lg') {
        width: calc(100% - $shortnavbrandwidth);
    }
}

#smallbluestripe {
    position: absolute;
    background: $blue-nav-bg fixed;
    width: calc($longnavbrandwidth - $navbrandheight);
    height: $blue-rect-width;
    top: $navbrandheight;
    z-index: 9;

    @include breakpoint-down('lg') {
        width: calc($shortnavbrandwidth - $navbrandheight);
    }
}

#diagonalbluestripe {
    position: absolute;
    background: $blue-nav-bg fixed;
    width: $navbrandheight;
    height: calc($navbrandheight - $navheight + $blue-rect-width);
    top: $navstripe;
    left: calc($longnavbrandwidth - $navbrandheight);
    z-index: 9;

    clip-path: polygon(0% 100%, 0% calc(100% - $blue-rect-width), 100% 0%, 100% $blue-rect-width);

    @include breakpoint-down('lg') {
        left: calc($shortnavbrandwidth - $navbrandheight);
    }
}