@import './variables';
@import './breakpoints';

.section.schedule {
    .main {
        object {
            width: 100%;
            pointer-events: none;

            &#short {
                -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
                mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 40%, rgba(0,0,0,0));
            }
        }
    }

    #big {
        display: block;
    }
    #small {
        display: none;
        position: relative;

        .schedule-content-wrapper {
            overflow: hidden;
            max-height: 50vh;

            transition: max-height .5s ease-in-out, mask-image .5s ease-in-out;

            -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
            mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 95%);
        }

        .expanded {
            .schedule-content-wrapper {
                max-height: 200vh;
                mask-image: none;
                -webkit-mask-image: none;
            }
        }

        .button-div {
            position: absolute;
            bottom: -20px;
            left: 20%;
            width: 60%;

            button {
                background: rgba(217, 217, 217, 0.20);
                padding: 1.25rem 2rem;
            }
        }
    }

    @media screen and (max-width: $old-breakpoint-extra-small) {
        #big {
            display: none;
        }
        #small {
            display: block;
        }
    }
}
