@import './variables';
@import './breakpoints';

.section.splash {
    position: relative;
    top: calc(-1 * $navbrandheight);
    margin-bottom: calc(-1 * $navbrandheight);

    .main {
        position: relative;
        display: block;
        align-items: center;
        padding: 0;

        height: 70vw;

        // Medium devices (tablets, less than 992px)
        @include breakpoint-down(md) {
            height: 150vw;
        }

        // Small devices (landscape phones, less than 768px)
        @include breakpoint-down(sm) {
            height: 175vw;
        }

        // X-Small devices (portrait phones, less than 576px)
        @include breakpoint-down(xs) {
            height: 200vw;
        }

        .splash-photo {
            // anything bigger
            height: auto;
            width: 100vw;
            left: 50%;

            // 1920 desktops
            @include breakpoint-down(tv) {
                height: 100%;
                width: auto;
            }

            // X-Small devices (portrait phones, less than 576px)
            @include breakpoint-down(xs) {
                height: 80%;
                left: 0;
                width: auto;
                opacity: 0.4;
            }

            position: absolute;
            top: 0;
            transform: translate(-50%, 0);
            z-index: 1;
        }

        .circuitry-overlay {
            height: auto;
            width: 45vw;
            top: -15vw;
            left: -17vw;

            // 1920 desktops
            @include breakpoint-down(tv) {
                height: 55vw;
                width: auto;
                left: -15vw;
            }

            // Large devices (desktops, less than 1200px)
            @include breakpoint-down(lg) {
                top: -12vw;
            }

            // Small devices (landscape phones, less than 768px)
            @include breakpoint-down(sm) {
                height: 80vw;
            }

            // X-Small devices (portrait phones, less than 576px)
            @include breakpoint-down(xs) {
                height: 80vw;
                left: -20vw;
            }

            position: absolute;
            z-index: 2;
            mix-blend-mode: overlay;
        }

        .space-shadow {
            height: auto;
            width: 88vw;
            top: -70%;

            // 1920 desktops
            @include breakpoint-down(tv) {
                height: 250%;
                width: auto;
                top: -60%;
            }

            // X-Large devices (large desktops, less than 1400px)
            @include breakpoint-down(xl) {
                height: 220%;
            }

            // Large devices (desktops, less than 1200px)
            @include breakpoint-down(lg) {
                height: 190%;
                top: -50%;
            }

            // Medium devices (tablets, less than 992px)
            @include breakpoint-down(md) {
                height: 155%;
                top: -40%;
            }

            // Small devices (landscape phones, less than 768px)
            @include breakpoint-down(sm) {
                height: 150%;
                top: -30%;
            }

            // X-Small devices (portrait phones, less than 576px)
            @include breakpoint-down(xs) {
                top: 0;
            }

            position: absolute;
            right: 0;
            z-index: 2;
        }

        .rocket {
            width: 100vw;

            // Medium devices (tablets, less than 992px)
            @include breakpoint-down(md) {
                width: 200vw;
                left: -90vw;
            }

            @include breakpoint-down('xs') {
                width: 220vw;
                left: -120vw;
            }

            position: absolute;

            bottom: 0;
            z-index: 3;
        }

        .countdown {
            margin: 0 auto;
            bottom: calc(70vw - 100vh + 40px);

            --text-sm-size: 30px;
            --text-md-size: 50px;
            --text-lg-size: 90px;

            @include breakpoint-down(xxl) {
                bottom: 20%;
            }

            // Medium devices (tablets, less than 992px)
            @include breakpoint-down(md) {
                bottom: 30%;
            }

            // Small devices (landscape phones, less than 768px)
            @include breakpoint-down(sm) {
                //bottom: calc(175vw - 100vh + $dist-from-bottom);
                --text-sm-size: 20px;
                --text-md-size: 40px;
                --text-lg-size: 70px;
            }

            // X-Small devices (portrait phones, less than 576px)
            @include breakpoint-down(xs) {
                width: 70%;
                left: 15%;
                bottom: unset;
                top: 3rem;
                text-align: center;
                --text-sm-size: 15px;
                --text-md-size: 30px;
                --text-lg-size: 50px;
            }

            font-family: 'Space Grotesk', sans-serif;
            position: absolute;
            left: 5vw;
            z-index: 4;

            font-style: normal;
            font-weight: 400;
            line-height: normal;

            .t-minus::after {
                content: "T - minus";
                font-size: var(--text-sm-size);

                font-style: inherit;
                font-weight: inherit;
                line-height: inherit;
            }

            .twinkle-icon {
                background-size: contain;
                background-position: 0 0;
                background-repeat: no-repeat;
                display: inline-block;
                content: "";
                vertical-align: -10%;
                width: var(--text-md-size);
                height: var(--text-md-size);
            }

            .days {
                font-size: var(--text-lg-size);

                &::after {
                    content: " days"
                }
            }

            .hours {
                font-size: var(--text-md-size);

                &::before {
                    @extend .twinkle-icon;
                    background-image: url("/assets/icons/twinkle-bright.svg");
                }

                &::after {
                    content: " hours";
                    font-size: var(--text-sm-size);
                }
            }

            .minutes {
                font-size: var(--text-md-size);

                &::before {
                    @extend .twinkle-icon;
                    background-image: url("/assets/icons/twinkle-dim.svg");
                    background-position-x: 3px;
                    padding-left: 3px;
                    padding-right: calc(var(--text-md-size) - var(--text-sm-size) - 3px);
                    width: var(--text-sm-size);
                    height: var(--text-sm-size);
                    vertical-align: 0;
                }

                &::after {
                    content: " minutes";
                    font-size: var(--text-sm-size);
                }
            }

            .seconds {
                font-size: var(--text-md-size);

                &::before {
                    @extend .twinkle-icon;
                    background-image: url("/assets/icons/twinkle-normal.svg");
                }

                &::after {
                    content: " seconds";
                    font-size: var(--text-sm-size);
                }
            }
        }
    }
}
