// To rotate the circles, change the angles
$outer-circle-rotation: -0deg;
$inner-circle-rotation: 0deg;

$rotation-rate: 30s;

$shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.35);

$size: 40vw;
$mobile-size: 50vw;
$hoop-thickness: 2px;
$gradient-angle: -150deg;
$centre-person-size: 30%;

$inner-circle-person-distance: 20%;
$inner-circle-person-size: 40%;

$outer-circle-size: calc($size / 2.5);
$outer-circle-person-distance: -14%;
$outer-circle-person-size: 30%;
$outer-circle-fine-tune-rotation: 36%;

@keyframes outer1 {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

@keyframes inner1 {
    from {
        rotate: 0deg;
    }
    to {
        rotate: -360deg;
    }
}

.section.team {
    #mapbody {
        position: relative;
        width: 100%;
        align-self: center;
        margin: 200px 0;
    }

    // This is the main hoop
    .hoop {
        position: relative;
        width: $size;
        aspect-ratio: 1;
        margin: 0 auto;

        &::before {
            position: absolute;

            content: "";
            inset: 0;
            border: $hoop-thickness solid transparent;
            border-radius: 50%;

            // https://dev.to/afif/border-with-gradient-and-radius-387f - This is some wacky stuff
            background: linear-gradient($gradient-angle, #3CA3BD, #E37F6078, #CD342C3D, #8467A0) border-box; /*3*/
            mask: /*4*/
               linear-gradient(#fff 0 0) padding-box, 
               linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor; /*5'*/
                    mask-composite: exclude; /*5*/
        }

        > .outer-members {
            transition: all 1.5s ease-in-out;
            // rotate: $outer-circle-rotation;
            pointer-events: none;

            animation: outer1 $rotation-rate linear infinite;
        }
    }

    // These are the hoops on the outer orbit
    .hoop2{
        @extend .hoop;
        width: $outer-circle-size;
    }

    .hoop3{
        @extend .hoop2;
        &::before {
            background: transparent;
        }
    }

    // These are used to position the team circles
    .team {
        position: absolute;
        aspect-ratio: 1;
        background-color: transparent;
        width: 100%;
        aspect-ratio: 1;
        pointer-events: none;
    }

    .inner {
        position: relative;
        bottom: $inner-circle-person-distance;

        transition: all 1.5s ease-in-out;
        rotate: - ($outer-circle-rotation);

        animation: inner1 $rotation-rate linear infinite;
        // rotate: calc($inner-circle-rotation - (2 * $outer-circle-rotation));
    }

    // These position the people on the inner circles
    .person {
        position: absolute;
        width: 100%;
        aspect-ratio: 1;
        background-color: transparent;

        transition: all 1.5s ease-in-out;
        // rotate: calc( $inner-circle-rotation - $outer-circle-rotation );

        animation: outer1 $rotation-rate linear infinite;

        pointer-events: none;
    }

    .person-container {
        background: url("/assets/team/quinn.png") center/cover no-repeat;
        border-radius: 50%;
        box-shadow: $shadow;

        position: absolute;

        width: $outer-circle-person-size;
        aspect-ratio: 1;
        left: $outer-circle-fine-tune-rotation;
        bottom: $outer-circle-person-distance;

        animation: inner1 calc($rotation-rate / 2) linear infinite;
        pointer-events: visible;

        transition: all 0.5s ease-in-out;

        &:hover {
            width: calc($outer-circle-person-size * 1.3);
            bottom: calc($outer-circle-person-distance * 1.3);
            left: calc($outer-circle-fine-tune-rotation - 3%);
            transition: all 0.5s ease-in-out;
            box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0);
        }
    }

    // Automatically rotates the people around the hoops
    @for $i from 1 through 6 {        
        @for $j from 1 through $i {
            $angle: calc((360deg / ($i)) * ($j - 1));
        
            .outer-members-#{$i} {
                > #team-#{$j} {
                    transform: rotate($angle);
                }
                > #team-#{$j} > .inner {
                    transform: rotate(-$angle);
                }

                > #person-#{$j} {
                    transform: rotate($angle);
                }
                > #person-#{$j} > .person-container {
                    transform: rotate(-$angle);
                }
            }
        }
    }

    .outer-members {
        position: relative;
        width: 100%;
        aspect-ratio: 1;
    }

    // Styles the lead circle
    .hoop > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 5;
        border-radius: 50%;
        box-shadow: $shadow;
        width: $centre-person-size;
        transition: all 0.5s ease-in-out;

        pointer-events: visible;

        &:hover {
            // box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
            width: calc($centre-person-size * 1.3);
            transition: all 0.5s ease-in-out;
            box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0);
        }
    }

    // Stles the inner circle portraits
    .hoop2 > img, .hoop3 > img {
        width: $inner-circle-person-size;
        transition: all 0.5s ease-in-out;

        &:hover {
            width: calc($inner-circle-person-size * 1.3);
            transition: all 0.5s ease-in-out;
        }
    }

    // This is for the smaller hoops
    #small-hoops {
        position: relative;

        // Sets new animations
        .inner {
            animation: none;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);

            .hoop2 {
                width: $mobile-size;
                aspect-ratio: 1;
            }

            .hoop3 {
                width: calc($mobile-size * 1.3);
                aspect-ratio: 1;
            }
        }
    }

    .hoop-container {
        position: relative;
        height: calc($mobile-size * 1.5);
        pointer-events: none;
    }

    // Breakpoint between desktop and mobile views
    #mapbody {
        display: block;
    }
    #small-hoops {
        display: none;
    }

    @include breakpoint-down('xs') {
        #mapbody {
            display: none;
        }
        #small-hoops {
            display: block;
        }
    }
}