.section.team {
    #mapbody {
        position: relative;
        width: 100%;
        align-self: center;
        margin: 200px 0;
    }

    $rad1: 40vw;
    $thick1: 2px;

    $s-angle: -150deg;

    #hoop {
        position: relative;
        width: $rad1;
        aspect-ratio: 1;
        margin: 0 auto;
    }

    #hoop::before {
            position: absolute;

            content: "";
            inset: 0;
            border: $thick1 solid transparent;
            border-radius: 50%;

            // https://dev.to/afif/border-with-gradient-and-radius-387f - This is some wacky stuff
            background: linear-gradient($s-angle, #3CA3BD, #E37F6078, #CD342C3D, #8467A0) border-box; /*3*/
            mask: /*4*/
               linear-gradient(#fff 0 0) padding-box, 
               linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor; /*5'*/
                    mask-composite: exclude; /*5*/
    }

    .person {
        position: absolute;
        width: 100%;
        aspect-ratio: 1;
        background-color: transparent;
    }

    .person::before {
        background-image: url("./assets/team/quinn.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 50%;

        position: absolute;
        content: "";

        width: 10%;
        aspect-ratio: 1;
        left: 45%;
        bottom: -4%;
    }

    // Automatically rotates the people around the hoop
    @for $i from 1 through 6 {        
        @for $j from 1 through $i {
            $angle: calc((360deg / $i) * $j);
        
            .outer-members-#{$i} {
                #person-#{$j} {
                    transform: rotate($angle);
                }
                #person-#{$j}::before {
                    transform: rotate(-$angle);
                }
            }
        }
    }

    .outer-members {
        position: relative;
        width: 100%;
        aspect-ratio: 1;
    }

    // #b-planet {
    //     position: relative;
    //     width: 100%;
    //     aspect-ratio: 1;
    //     background-color: transparent;
    //     transform: rotate(calc($blue-planet-angle - $orange-planet-angle));
    // }

    // #b-planet::before {
    //     background-image: url("./assets/graphics/map/blue-planet.svg");
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: cover;

    //     position: absolute;
    //     content: "";

    //     width: 7%;
    //     aspect-ratio: 1;
    //     top: 50%;
    //     left: calc(((100% - $rad2 - 2*$thick1) / 2) - 3%);
    //     z-index: 5;
    // }

    #hoop > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 5;
        border-radius: 50%;
        width: 50%;
        box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 1);
        transition: all 0.5s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 1);
            transition: all 0.5s ease-in-out;
        }
    }
}