$breakpoint-medium: 1280px;
$breakpoint-small: 1080px;
$breakpoint-extra-small: 920px;

$primary-light: #dab8e9;
$primary-normal: #FB3A53;
$primary-dark: #141B2F;
$secondary-a: #00FFF0;
$secondary-b: #D7BFE7;
