$old-breakpoint-medium: 1280px;
$old-breakpoint-small: 1080px;
$old-breakpoint-extra-small: 920px;
// size at which "Mentors on-hand to help with your project" wraps to next line
$lucas-extra-small: calc($old-breakpoint-extra-small + 62px);

$primary-light: #E8C5FF;
$primary-normal: #FF0040;
/* Yeah I don't like it either:
https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element/53336754#53336754 */
$primary-normal-filter: invert(12%) sepia(76%) saturate(6526%) hue-rotate(339deg) brightness(106%) contrast(109%);
$white-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(263deg) brightness(109%) contrast(101%);

$primary-dark: #111;
$secondary-a: #00FFF0;
$secondary-b: #E3709C;
$tertiary: #141B2F;

// common nav variables
$navheight: 60px;
$navstripe: $navheight;
$navbrandheight: 90px;
$navbackground: linear-gradient(88deg, #020316 0%, #3C2F62 16.67%, rgba(60, 163, 189, 0.85) 34.38%, #707B89 50%, rgba(205, 52, 44, 0.76) 72.40%, #E37F60 99.99%);

// nav variables for long brand
$navwidth: 60%;
$longnavbrandwidth: max(25%, 350px);

// nav variables for short brand
$longnavwidth: 70%;
$shortnavbrandwidth: max(10%, 150px);

// nav variables for blue border
$blue-rect-width: 4px;
$blue-nav-bg: linear-gradient(90deg, rgba(255, 255, 255, 0.77) 0%, #3D9FBA 50.31%, rgba(255, 255, 255, 0.87) 100%);
