@import './fonts';
@import './variables';

// Reset user-agent stylesheets https://stackoverflow.com/questions/29307357/get-rid-of-webkit-padding-start-40px
*:not(p) {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $primary-dark;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    margin: 0px;
    overflow-x: hidden;
}

.container {
    margin: 0 0 0 0;
}

.tippy-tooltip {
    background-color: $primary-dark !important;
}

.tippy-arrow {
    border-top-color: $primary-dark !important;
}

.primary-normal-svg-filter {
    filter: $primary-normal-filter;
}

h1 {
    font-family: 'Audiowide', cursive;
    color: $primary-normal;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    padding: 10px;
}

h2, p, span {
    font-family: 'Space Grotesk';
}

a:not(.tooltip) {
    color: $secondary-a;
    border-bottom: dashed 1px $secondary-a;
    text-decoration: none;

    &:hover {
        border-bottom-style: solid;
    }
}

.text-center {
    text-align: center;
    padding-top: 70px;
}

@mixin faded-underline() {
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #00000000 0%, #fff 50%, #00000000 100%);
    width: fit-content;
    margin: 0 auto;
}

.text-center > h1 {
    @include faded-underline();
}

.text-center h5 {
    @include faded-underline();
}

.emphasis {
    color: $secondary-a;
}

@import './404';
@import './background';
@import './header';
@import './navbar';
@import './artifacts';
@import './flex';
@import './splash';
@import './intro';
@import './content';
@import './footer';
@import './megateams';
@import './map';
