@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import './variables';

@font-face {
	font-family: 'Deciso';
	font-weight: bold;
	src: url('/assets/fonts/Deciso-Bold.otf');
}

@font-face {
	font-family: 'Deciso';
	font-weight: 300;
	font-style: italic;
	src: url('/assets/fonts/Deciso-LightItalic.otf');
}

#map {
    .section {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
    }

    .button {
        display: inline-block;
        border: solid 2px $secondary-a;
        border-radius: 100px;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: $secondary-a;
        padding: 16px 96px;
        margin: 9px 0px;
        transition: .5s ease;

        &:not(.disabled):hover {
            background-color: $secondary-a;
            color: #222;
        }

        @media screen and (max-width: $breakpoint-medium) {
            padding: 12px 32px;
        }

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }


    p {
        font-size: 20px;
    }

    $thick1: 10px;
    $rad1: 50vw;
    $thick2: 50px;
    $rad2: 50%; // percentage of rad1


    #hoop1 {
        width: $rad1;
        aspect-ratio: 1;
        background: $primary-dark;
        outline: $thick1 solid $tertiary;
        margin: $thick1;
        border-radius: 50%;
    }

    #hoop2 {
        width: $rad2;
        aspect-ratio: 1;
        position: relative;
        top: (100-$rad2)/2;
        left:  (100-$rad2)/2;
        background: $primary-dark;
        outline: $thick2 solid $tertiary;
        //margin: $thick2;
        border-radius: 50%;
    }

    img {
        position: relative;
        top: 6%;
        left: 6%;
        border-radius: 50%;
        width: 90%;
    }
}


#team {
    background-image: url("assets/diamond_tile.svg");
}

body {
    background-color: $primary-dark;
    font-family: 'Chakra Petch', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #fff;
    margin: 0px;
    overflow-x: hidden;
}

.container, header .underline .middle {
	width: 90%;
	max-width: 1280px;
}

.container {
    margin: 0px auto 0px -2.3rem;
}

.tippy-tooltip {
    background-color: $primary-dark !important;
}

.tippy-arrow {
    border-top-color: $primary-dark !important;
}

.primary-normal-svg-filter {
    filter: $primary-normal-filter;
}

h1 {
    font-family: 'Audiowide', cursive;
    color: $primary-normal;
    text-transform: uppercase;
}

aside {
    display: block;
    position: relative;
    padding-left: 3rem;

    > h1 {
        position: absolute;

        transform-origin: -1 -1;
        transform: rotate(-90deg);

        left: -1.2rem;
    }
}

a {
    color: $primary-normal;
}


@import './404';
@import './intro';
@import './aboveTheFold';
@import './content';
@import './flex';
@import './footer';
@import './header';
@import './modal';
