@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

@import './variables';

@font-face {
	font-family: 'Deciso';
	font-weight: bold;
	src: url('/assets/fonts/Deciso-Bold.otf');
}

@font-face {
	font-family: 'Deciso';
	font-weight: 300;
	font-style: italic;
	src: url('/assets/fonts/Deciso-LightItalic.otf');
}

body {
	background-color: #222;
	font-family: 'Chakra Petch', 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #fff;
	margin: 0px;
	overflow-x: hidden;
}

.container, header .underline .middle {
	width: 90%;
	max-width: 1280px;
}

.container {
	margin: 0px auto;
}

.tippy-tooltip {
	background-color: $primary-dark !important;
}
.tippy-arrow {
	border-top-color: $primary-dark !important;
}

@import './404';
@import './intro';
@import './aboveTheFold';
@import './content';
@import './flex';
@import './footer';
@import './header';
@import './modal';
