@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

@import './variables';

@font-face {
	font-family: 'Deciso';
	font-weight: bold;
	src: url('/assets/fonts/Deciso-Bold.otf');
}

@font-face {
	font-family: 'Deciso';
	font-weight: 300;
	font-style: italic;
	src: url('/assets/fonts/Deciso-LightItalic.otf');
}

#map {
    .button {
        display: inline-block;
        border: solid 2px $secondary-a;
        border-radius: 100px;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: $secondary-a;
        padding: 16px 96px;
        margin: 9px 0px;
        transition: .5s ease;

        &:not(.disabled):hover {
            background-color: $secondary-a;
            color: #222;
        }

        @media screen and (max-width: $breakpoint-medium) {
            padding: 12px 32px;
        }

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    img {
        border-radius: 50%;
        width: 50vh;
    }

    text-align: center;

    vertical-align: center;

    p {
        font-size: 20px;
        padding-top: 18vh; //bodge but works
    }
}

body {
	background-color: #111111;
	font-family: 'Chakra Petch', 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #fff;
	margin: 0px;
	overflow-x: hidden;
}

.container, header .underline .middle {
	width: 90%;
	max-width: 1280px;
}

.container {
    margin: 0px auto;

}

.tippy-tooltip {
    background-color: $primary-dark !important;
}

.tippy-arrow {
    border-top-color: $primary-dark !important;
}

.primary-normal-svg-filter {
    /* I don't like it either:
    https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element/53336754#53336754 */
    filter: invert(38%) sepia(62%) saturate(2350%) hue-rotate(327deg) brightness(94%) contrast(111%);
}

aside h1 {
    position: absolute;
    left: 1rem;

    transform-origin: 0 0;
    transform: rotate(-90deg);

    color: $primary-normal;
    text-transform: uppercase;
    line-height: 1rem;
}

aside {
    display: block;
    position: relative;
    padding-left: 3rem;
}



@import './404';
@import './intro';
@import './aboveTheFold';
@import './content';
@import './flex';
@import './footer';
@import './header';
@import './modal';
