@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

@import './variables';

@font-face {
	font-family: 'Deciso';
	font-weight: bold;
	src: url('/assets/fonts/Deciso-Bold.otf');
}

@font-face {
	font-family: 'Deciso';
	font-weight: 300;
	font-style: italic;
	src: url('/assets/fonts/Deciso-LightItalic.otf');
}

body {
	background-color: #111111;
	font-family: 'Chakra Petch', 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #fff;
	margin: 0px;
	overflow-x: hidden;
}

.container, header .underline .middle {
	width: 90%;
	max-width: 1280px;
}

.container {
    margin: 0px auto;
}

.tippy-tooltip {
    background-color: $primary-dark !important;
}

.tippy-arrow {
    border-top-color: $primary-dark !important;
}

.primary-normal-svg-filter {
    /* I don't like it either:
    https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element/53336754#53336754 */
    filter: invert(38%) sepia(62%) saturate(2350%) hue-rotate(327deg) brightness(94%) contrast(111%);
}

aside h1 {
    position: absolute;
    left: 1rem;

    transform-origin: 0 0;
    transform: rotate(-90deg);

    color: $primary-normal;
    text-transform: uppercase;
    line-height: 1rem;
}

aside {
    display: block;
    position: relative;
    padding-left: 3rem;
}

@import './404';
@import './intro';
@import './aboveTheFold';
@import './content';
@import './flex';
@import './footer';
@import './header';
@import './modal';
