section#splash {
    background: linear-gradient(180deg, #102330, #1D4963);
}

$intro-height: 2000px;
section#intro {
    position: relative;
    overflow: hidden;
    height: $intro-height;
    margin-top: calc(-0.1 * #{$intro-height});
    clip-path: ellipse(120% 100% at 50% 100%);
    background: linear-gradient(180deg, #3A7EA0 38%, #968B69);
}

@media (max-width: 1280px) {
    section#intro {
        clip-path: ellipse(140% 100% at 50% 100%);
    }
}

@media (max-width: 1024px) {
    section#intro {
        clip-path: ellipse(160% 100% at 50% 100%);
    }
}

@media (max-width: 768px) {
    section#intro {
        clip-path: ellipse(250% 100% at 50% 100%);
    }
}

section#about {
    background: linear-gradient(180deg, #216782, #306379);
}

section#sponsors {
    background: linear-gradient(180deg, #306379, #175A82 50%, #196798);
}

section#guilds {
    background: linear-gradient(180deg, #196798, #3983AB);
}

section#gallery {
    background: linear-gradient(180deg, #3983AB, #73AFC5);
}

section#end {
    background: #73AFC5;
}