section#splash {
  background: linear-gradient(180deg, #102330, #1d4963);
}

.ellipse {
  clip-path: ellipse(120% 100% at 50% 100%);
}

@media (max-width: 1280px) {
  .ellipse {
    clip-path: ellipse(140% 100% at 50% 100%);
  }
}

@media (max-width: 1024px) {
  .ellipse {
    clip-path: ellipse(160% 100% at 50% 100%);
  }
}

@media (max-width: 768px) {
  .ellipse {
    clip-path: ellipse(250% 100% at 50% 100%);
  }
}

section#about {
  position: relative;
  overflow: hidden;
  margin-top: -15rem;
  min-height: 80rem;
  padding-bottom: 15rem;
  background: linear-gradient(180deg, #3a7ea0 38%, #968b69);
}

section#faqs {
  margin-top: -15rem;
  padding-bottom: 5rem;
  position: relative;

  #background {
    background: linear-gradient(180deg, #216782, #306379);
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}

section#sponsors {
  background: linear-gradient(180deg, #306379, #175a82 50%, #196798);
}

section#guilds {
  background: linear-gradient(180deg, #196798, #3983ab);
}

section#gallery {
  background: linear-gradient(180deg, #3983ab, #73afc5);
}

footer {
  background: #73afc5;
}
