section#splash {
    background: linear-gradient(180deg, #102330, #1D4963);
}

section#intro {
    background: linear-gradient(180deg, #3A7EA0 38%, #968B69);
}

section#about {
    background: linear-gradient(180deg, #216782, #306379);
}

section#sponsors {
    background: linear-gradient(180deg, #306379, #175A82 50%, #196798);
}

section#guilds {
    background: linear-gradient(180deg, #196798, #3983AB);
}

section#gallery {
    background: linear-gradient(180deg, #3983AB, #73AFC5);
}

section#end {
    background: #73AFC5;
}