/* https://dev.to/afif/responsive-hexagon-grid-without-media-query-57g7 */

.hex-grid {
  font-size: 0; /*disable white space between inline block element */
  --hex-grid-tile-size: 7rem;  /* size  */
  --hex-grid-tile-margin: .5rem;    /* margin */

  @media screen(lg) {
    --hex-grid-tile-size: 8rem;  /* size  */
    --hex-grid-tile-margin: 1rem;    /* margin */
  }

  --hex-grid-f: calc(1.732 * var(--hex-grid-tile-size) + 4 * var(--hex-grid-tile-margin) - 1px);
}

.hex-grid > div {
  width: var(--hex-grid-tile-size);
  margin: var(--hex-grid-tile-margin);
  height: calc(var(--hex-grid-tile-size)*1.1547);
  display: inline-block;
  font-size: initial;
  margin-bottom: calc(var(--hex-grid-tile-margin) - var(--hex-grid-tile-size)*0.2885);
  @apply hexagon;
}

.hex-grid::before {
  content: "";
  width: calc(var(--hex-grid-tile-size)/2 + var(--hex-grid-tile-margin));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
                   #0000 0 calc(var(--hex-grid-f) - 3px),
                   #000  0 var(--hex-grid-f));
}

.hexagon {
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.sponsor-card {
  background: linear-gradient(#EDDDFD, #A7AFBD, #E5EDFE);
}
