footer {
  #outer-ring {
    border-radius: 92.125rem;
    background: radial-gradient(#e39675 5%, #7AA6BB 80%);
    box-shadow: 0px 0px 200px 50px #e5ad8a;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
