.bg-homepage-gradient {
  background: rgb(29, 25, 52);
  background: linear-gradient(180deg, rgba(29, 25, 52, 1) 0%, rgba(96, 52, 188, 1) 100%);
}

.date > sup {
  font-size: 40%;
  top: -1.25em;
}

.ellipse {
  width: clamp(300px, 30vw, 30vw);
  aspect-ratio: 5 / 4;
  background-color: #F1B1D2;
  border-radius: 50% 50%;
}
