.clip-circle {
  clip-path: circle(50%);
  @apply absolute w-full h-full;
}

.moon {
  @apply rounded-[50%];

  background-color: #dcdcdc;
  mix-blend-mode: screen;
  box-shadow: 0 2px 116px 0 rgba(255, 243, 225, 0.72), 0 1px 42px 11px #ffe0d7;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 2px 156px 0 rgba(255, 243, 225, 0.72), 0 1px 72px 11px #ffe0d7;
    transition-duration: 0.3s;
  }
}

.moon-image {
  @apply absolute;

  background-color: #dcdcdc;
  top: -13.2%;
  left: -13.2%;
  height: 126.4%;
  width: 126.4%;
  max-width: unset;
}

.moon-backdrop {
  background-color: #112635;
  mix-blend-mode: screen;
}
