section#splash {
    #moon {
        box-shadow: 0px 1.953px 116.469px 0px rgba(255, 243, 225, 0.72), 0px 1.136px 41.749px 11.356px #FFE0D7;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    #moon:hover {
        box-shadow: 0px 1.953px 156.469px 0px rgba(255, 243, 225, 0.72), 0px 1.136px 71.749px 11.356px #FFE0D7;
    }

    #inner-ring{
        border: 1px solid #FFF;
        background: rgba(32, 101, 128, 0.33);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        left: 50%;
        transform: translate(-50%, 0%);
    }

    #outer-ring {
        border-radius: 92.125rem;
        background: rgba(0, 86, 120, 0.28);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        left: 50%;
        transform: translate(-50%, 0%);
    }
}