.clip-circle {
  clip-path: circle(50%);
  @apply absolute w-full h-full;
}

.sun {
  @apply rounded-[50%];

  background-color: #ffffff;
  mix-blend-mode: screen;
}

.sun-backdrop {
  background-color: #112635;
  mix-blend-mode: screen;
}
